<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Name:<%=array[0].name%></h1>
    <h2>Text:<%=array[1].text%></h2>
</body>
</html>